# Debug Mode, unset for production, if set to an empty value it will still run debug mode.
INVENTURE_DEBUG=1

# Comma separated CIDR prefixes, if not set, or set to an empty string, application will assume
# is directly exposed to internet.
INVENTURE_API_TRUSTED_PROXIES=13.32.0.0/15,52.46.0.0/15,2600:9000::/28

# Set to 0 or empty string to enable rate limiting, set to 1 (or any value) to disable included
# rate limit, useful if you want a reverse proxy to handle rate limiting.
INVENTURE_API_RATE_LIMIT_DISABLE=0

# Request limit for password-based authentication endpoints in the configured time window,
# if not set, sensible default is set, if set to 0 then raw rate limit is disabled for
# authentication endpoints.
INVENTURE_API_PASSWORD_AUTH_REQUEST_LIMIT=15

# Request time window for password-based authentication endpoints. if not set, sensible default
# is set, if set to 0, then raw rate limit is disabled for authentication endpoints.
INVENTURE_API_PASSWORD_AUTH_TIME_WINDOW_SECONDS=60

# Login attempt limit for password-based authentication endpoints. If not set, sensible default
# is set, if set to 0, then login attemp limiting is disabled.
INVENTURE_API_LOGIN_ATTEMPT_LIMIT=10

# Login attempt time window for password-based authentication endpoints, If not set, sensible
# default is set, if set to 0, then login attempt limiting is disabled.
INVENTURE_API_LOGIN_ATTEMPT_TIME_WINDOW_SECONDS

# Sets database type, only configuration options for the choosed database type are read.
# Valid values: sqlite.
INVENTURE_DATABASE_TYPE=sqlite

# Connection string used when database type is set to sqlite
INVENTURE_DATABASE_SQLITE_CONNECTION_STRING=./app.db
