# Debug Mode, unset for production, if set to an empty value it will still run debug mode.
INVENTURE_DEBUG=1

# Comma separated CIDR prefixes, if not set, or set to an empty string, application will assume
# is directly exposed to internet.
INVENTURE_API_TRUSTED_PROXIES=13.32.0.0/15,52.46.0.0/15,2600:9000::/28
